<div>
    <h1>{{ 'Search results' | trans }} - {{ entities.getTotalItemCount }}</h1>

    <h2>{{ entities.0 is defined ? entities.0.searchText | capitalize : '' }}</h2>

    <div>
        {% if approach is defined %}
            <a href="{{ path('gkratz_search_search_search', {approaching: 1, search: app.request.get('id')}) }}"> {{ 'Expand search' | trans }}</a>
        {% endif %}
    </div>

    <section class="row">
        {% for entity in entities %}
            <a href="yourcustomlinkhere">
                <h2>#{{ loop.index }} {{ entity.class | capitalize }} id {{ entity.elementId }}</h2>
                <div>
                    {{ entity.resultText | searchtext(entity.searchText, allowApproaching) }}
                </div>
            </a>
        {% else %}
            <p class="error">{{ "No entities" | trans }}</p>
        {% endfor %}
    </section>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
</div>